<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="208f9aa0-8bf4-4b06-9b84-3b26c93cf26e"
    Publisher="CN=micro"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="208f9aa0-8bf4-4b06-9b84-3b26c93cf26e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MaSchoeller.Extensions.Universal.Sample2</DisplayName>
    <PublisherDisplayName>micro</PublisherDisplayName>
    <Logo>Assets\Images\Gen\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MaSchoeller.Extensions.Universal.Sample2.App">
      <uap:VisualElements
        DisplayName="MaSchoeller.Extensions.Universal.Sample2"
        Square150x150Logo="Assets\Images\Gen\Square150x150Logo.png"
        Square44x44Logo="Assets\Images\Gen\Square44x44Logo.png"
        Description="MaSchoeller.Extensions.Universal.Sample2"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Images\Gen\Wide310x150Logo.png" Square71x71Logo="Assets\Images\Gen\SmallTile.png" Square310x310Logo="Assets\Images\Gen\LargeTile.png" ShortName="JimnyTainment">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Images\Gen\SplashScreen.png"  BackgroundColor="#267C14"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>